*{
	padding: 0;
	margin: 0;
}

body{
	display: flex;
	flex-direction: column;
	background-color: ghostwhite ;
 }

main
{
	width: 100%;
	height: 600px;
	display: flex;
}

nav{
	background-color: rgb(255, 157, 0);
	height: 50px;
}
/* 
.login
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 400px;
	width: 400px;
	background-color: #ff1111;
	text-align: center;
} */

.container{
	display: grid;
	grid-template-columns: 1fr 2fr;
	width: 100%;
	margin: 10px;
}

.acoes{
	width: 100%;
}

.navBotoes
{
	background-color:rgb(225, 139, 0); 
	width: 100%;
	height: 10%;
}

.botoes{
	display: flex;
	margin-right: 10px;
	gap: 10px;
	justify-content: flex-end;
	align-content: center;
	height: 100%;
}

.extrato{
	background-color: antiquewhite;
 	height: 100%;
	border: solid 1px darkorange ;
}

 
.asdasd{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;	
	height: 90%;
}

.action
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color:gainsboro;
	width: 80%;	
	height: 80%;
 
} 

.transacao{
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	background-color: rgb(255, 157, 0);
	text-align: left;
	padding: 20px;

	font-size: large;
}

button{
	width: 100px;
	height: 40px;
	align-self: center;
}

input {
	width: 90%;
	height: 25px;
}

.confirmar{
	height: 100px;
	width: 80%;
}