*{
	padding: 0;
	margin: 0;
  	font-family: "DM Sans", sans-serif;
}

body{
	display: flex;
	flex-direction: column;
	background-color: ghostwhite;
}

main
{
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}
 
nav{
 	background-color: rgb(255, 157, 0);
	height: 70px;
}
 
.logoandname{
	display: flex;
  	align-items: center;
	margin-left: 20px;

	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;

}

/* 
.login
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 400px;
	width: 400px;
	background-color: #ff1111;
	text-align: center;
} */

.container{
	display: grid;
	grid-template-columns: 1fr 2fr;
	width: 100%;
	margin: 10px;
}

.acoes{
	width: 100%;
}

.navBotoes
{
	background-color:rgb(225, 139, 0); 
	width: 100%;
	height: 10%;
}

.botoes{
	display: flex;
	margin-right: 10px;
	gap: 10px;
	justify-content: flex-end;
	align-content: center;
	height: 100%;
}

.extrato{
	background-color: antiquewhite;
 	height: 100%;
	border: solid 1px darkorange ;
}

 
.asdasd{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;	
	height: 90%;
}

.action
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color:gainsboro;
	width: 80%;	
	height: 80%;
 
} 

.transacao{
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	background-color: rgb(255, 157, 0);
	text-align: left;
	padding: 20px;

	font-size: large;
}



button{
    width: 140px;
    height: 40px;
    --cor-fundo:rgb(255, 136, 0);
    background-color: var(--cor-fundo);
    border-radius: 25px;
    border: 0px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 20px;
	align-self: center;
}

button:hover{
    filter:brightness(50%);
}

button{
    cursor: pointer;
    transition: 200ms;
}

input {
	width: 90%;
	height: 25px;
	align-self: center;
}

.confirmar{
	height: 100px;
	width: 80%;
}

.lagos
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 10px;
}

#id{
	justify-items: center;
	align-items: center;

}


.login {
	background-color: aliceblue;
}
#loginForm {
	display: flex;
	flex-direction: column;
}

.cadastro {
	background-color: rgb(0, 136, 255);
}
#cadastroForm {
	display: flex;
	flex-direction: column;
}