*{
	padding: 0;
	margin: 0;
  	font-family: "DM Sans", sans-serif;
}

body{
	display: flex;
	flex-direction: column;
	background-color: ghostwhite;
}

main
{
	width: 100%;
	height: 570px;
	display: flex;
	margin: 0;
	padding: 0;
	align-items: center;
	justify-content: center;
}
 
nav{
	display: flex;
 	background-color: rgb(241, 241, 241);
	filter: blur(50%);
	height: 80px;
	justify-content: space-between;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 4px 8px;
	border-bottom: rgb(122, 122, 122) 1px solid;
}
 
.logoandname{
	display: flex;
  	align-items: center;
	justify-content: flex-start;
	margin-left: 10px;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	color: rgb(0, 0, 0);

}


.login
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 400px;
	width: 400px;
	background-color: #ff1111;
	text-align: center;
}

.container{
	display: grid;
	grid-template-columns: 1fr 2fr;
	width: 100%;
	margin: 10px;
}

.acoes{
	width: 90%;
}

.navBotoes
{
	background-color: rgb(248, 248, 248);
	width: 85%;
	height: 10%;
	display: flex;
	border-radius: 30px;
	/*border: rgb(145, 145, 145) 4px solid;*/
	justify-self: center;
	justify-content: space-between;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.botoes{
	display: flex;
	width: auto;
	height: auto;
	margin-right: 10px;
	gap: 10px;
	
	height: 100%;
}

.areaTransfer{
	height: auto;
	width: auto;
	display: inline-block;
	align-self: center;

}

.saldo_conta{
	display: flex;
	width: auto;
    height: 40px;
	padding: 0px 15px 0px 15px;
    background-color: white;
    border-radius: 25px;
    border: 0px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 20px;
	align-self: center;
	justify-self: left;
	align-items: center;
	margin-left: 10px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.extrato{
	display: flex;
	gap: 10px;
	flex-direction: column;
	background-color: antiquewhite;
 	height: 100%;
	width: 100%;
	border-radius: 30px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	overflow-y: auto;
	padding-top: 30px;
}


 
.asdasd{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;	
	height: 90%;
}

.areadeacao
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color:rgb(248, 248, 248);
	width: 85%;	
	height: 80%;
	margin-top: 20px;
	border-radius: 30px;
	gap: 20px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 
} 

.acao{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 500px;

}

.containerAction{
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	background-color: rgb(255, 255, 255);
	text-align: left;
	padding: 20px;
	font-size: large;
	border-radius: 30px;
	margin-bottom: 30px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	text-align: center;
}



button{
    width: 140px;
    height: 40px;
    background-color: rgb(255, 136, 0);
    border-radius: 25px;
    border: 0px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 20px;
	align-self: center;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.botoes-acoes{
	width: auto;
	min-width: 70px;
	height: 35px;
	background-color: rgb(255, 136, 0);
	border-radius: 25px;
	border: 0px;
	color: rgb(0, 0, 0);
	font-weight: 500;
	font-size: 16px;
	align-self: center;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#loginBtn{
	background-color: white;
}

#acessarBtn{
	margin-top: 10px;}	

button:hover{
    filter:brightness(50%);
}

button{
    cursor: pointer;
    transition: 200ms;
}

input {
	width: 90%;
	height: 25px;
	align-self: center;
}

.confirmar{
	height: 100px;
	width: 80%;
	align-self: center;
}
#linhasExtrato
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 10px;
}

.linhaExtrato
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-self: center;
	width: 95%;
	height: auto;
	padding: 3px 10px 3px 10px;
	border-radius:10px;
	background-color: #fbc088e6;
}

#id{
	justify-items: center;
	align-items: center;

}


.login {
	background-color: aliceblue;
}
#loginForm {
	display: flex;
	flex-direction: column;
}

.cadastro {
	background-color: rgb(0, 136, 255);
}
#cadastroForm {
	display: flex;
	flex-direction: column;
}

.fontePequena{
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 16px;	
}

input, #conta{
	
                padding: 0px 10px;
                font-size: 14px;
                line-height: 20px;
                color: #2e2824;
                vertical-align: middle;
                background-color: #ffffff;
                background-repeat: no-repeat;
                background-position: right 8px center;
                border: 1px solid #e1e4e8;
                border-radius: 16px;
                outline: none;
                box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
                :focus{
                    border-color: rgb(214, 130, 3);
                    outline: none;
                    box-shadow: rgba(214, 130, 3, 0.3) 0px 0px 0px 3px;
                }
                
}